#page8 {
    margin: 0;
    height: 100%;
    width: 100%;
    background-image: url(../images/img5.png);
    background-position: center center;
    background-repeat: no-repeat no-repeat;
    background-size: cover;
    display: flex;
    flex-flow: column wrap;
}

#page8 h1, #page8 p, #page8 img, #page8 a {
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 1201px) {
    #page8 {
        padding: 100px 20px;
    }
}

@media (max-width: 1200px) {
    #page8 {
        padding: 20px 20px 40px;
    }
}